<div class="card" href="https://mutanuq.trueberryless.org">
    <div class="card-content">
        <h2>Mutanuq</h2>
        <p>
            A fast and eco-friendly website providing the knowledge of a technical college,
            built with Starlight!
        </p>
    </div>
    {/* <div class="img">
        <img src="/src/assets/mutanuq.jpg" />
    </div> */}
    <div class="card-docs">
        <a href="/mutanuq" />
    </div>
</div>